.navbar {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    height: 50px;
    background-color: wheat;
}

.nav-button {
    display: inline-flex;
    text-decoration: none
}

.nav-button:hover {
    text-decoration: underline;
}