.square {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    float: left;
    text-align: left;
}

#root {
    width: auto;
    margin: auto;
}

#grid {
    text-align: center;
    width: 880px;
    margin: auto;
    margin-top: 20px;
}

#blockview {
    margin-top: 30px;
}

.filter-button{
    margin-left: 20px;
}

.filter-label{
    font-size: 17px;
    line-height: 39px;
    margin-left: 20px;
}

.card {
    height: 200px!important;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.card:hover{
    cursor: pointer;
    background-color: #ACE7FF!important;
    -webkit-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.blockview-child {
    width: 80%;
    height: 200px;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

span.clear { 
    clear: left; 
    display: block; 
}