.cohort-creation-content {
    width: 40%;
    margin: auto;
    position: relative;
}

.select-entry-type {
    margin: auto;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.select-entry-type p {
    font-family: sans-serif;
    font-size: 20px;
}

.select-entry-type > p {
    font-size: 10px;
}

.select-entry-btn {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background: #3298CB;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width: 70px;
    height: 50px;
    text-align: center;
}

.inactive {
    background: #8CC1DC;
}

.rad-select-group {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.rad-select-btn {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}


.uploadbox {
    outline: 1px black solid;
    border-radius: 4px;
    width: 100%;
    line-height: 60px;
    padding-left: 10px;
    margin: 7% 0;
    font-size: 1.3vw;
}

.uploadinput {
    display: none;
}

.file-upload-buttons {
    display: flex;
    justify-content: space-between;
}

.file-upload-title {
    text-align: center;
    font-size: 1.3vw;
    color: #3298CB;
}

.fields-view {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    border: 1px black solid;
    margin-bottom: 5%;
}

.field-titles {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #3298CB;
}

.fields-description {
    font-size: 1.3vw;
    margin-bottom: 5%;
}

.fields-description > span {
    color: #3298CB;
}

.field-titles > p {
    font-size: 1.3vw;
}

.select-dropdown {
    width: 10vw;
}

.field-select {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.05vw;
}

.field-select > p {
    padding: 2px 5px;
    border: 1px solid #707070;
    width: 10vw;
    color: #3298CB;
}


.upload-position {
    position: absolute;
    right: 0px;
}

.upload-drag {
    outline: 3px solid #3298CB;
}