:root {
	--primary-color: #1E3957;
	--secondary-color: #A5711A
}

.sidenav-container {
	display: flex;
	flex-direction: row
}

.sidenav {
	height: 100%;
	width: 220px;
	max-width: 280px;
	text-decoration: none;
	text-align: center
}

.header-acc {
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	height: 25px;
}

.header-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 150px;
	font-size: 50px;
	margin-bottom: 20px;
	color: var(--primary-color)
}
.nav-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around
}

.nav-button {
	text-decoration: none;
	color: var(--primary-color);
	width: 261px
}

.signin-btn {
	margin-top: 50px;
	color: var(--secondary-color)
}

.menu-icon-container {
	display: flex;
	justify-content: flex-end
}

.LoginBox {
	width: 365px;
}