:root {
	--primary-color: #1E3957;
	--secondary-color: #A5711A;
	--off-white: #F9F9F9;
}

.sidenav-container {
	display: flex;
	flex-direction: row
}

.sidenav {
	height: 100%;
	width: 220px;
	max-width: 280px;
	text-decoration: none;
	text-align: center
}

.header {
	margin-bottom: 20px;
}

.header-acc {
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	height: 25px;
}

.header-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 120px;
	font-size: 50px;
	color: var(--primary-color)
}

.nav-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around
}

.nav-button {
	text-decoration: none;
	color: var(--primary-color);
	width: 261px
}

.signin-btn {
	margin-top: 50px;
	color: var(--secondary-color)
}

.menu-icon-container {
	display: flex;
	justify-content: flex-end
}

.LoginBox {
	width: 365px;
}

.blackout {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: black;
	opacity: 0.5;
}

.add-students-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	max-width: 800px;
	height: calc(100% - 75px);
	z-index: 1000;
	background-color: var(--off-white);
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(62, 62, 62, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px
}

.modal-header {
	font-size: 20pt;
	margin-bottom: 20px;
}

.add-students-view {
	text-align: center;
	width: 100%;
	margin-bottom: 20px
}