.LoginBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 205px);
}

.LoginBox {
    background: white;
    height: 100%;
    
}

.loginbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    max-width: 600px;
    margin: auto;
    height: 40%;

}

.loginbox-tabs {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.loginbox-tab {
    height: 100%;
    width: 20%;
    background-color: white;
    border: none;
    margin: 0;
    outline: none;
    text-decoration: none;
}

.loginbackground-gradient {
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(299deg, #3298CB 0%, #2E8CBB 0%, #1E5A78 53%, #194C66 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
