{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <p>This is the About page.</p>
{% endblock %}

<!-- TODO: Remove the following comments. -->
<!-- <!DOCTYPE html>

<html>

<head lang="en">
	<meta charset="UTF=8">
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
</head>

<body>
	This is the About page.
</body>

</html> -->