<!DOCTYPE html>

<html>
  <head>
    {% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
    <title>{% block title %}{% endblock %} - Global College</title>
    {% endblock %}
  </head>
  <body>
	<div id="page-name">
		{% block pagename %}{% endblock %}
	</div>
	<div id="header">
		<!-- TODO: Convert this to a vertical navbar on the left. -->
		{% block header %}
		<ul id="navbar">
			<li><a href="/" class="nav-button">Home</a></li>
			<li><a href="/about" class="nav-button">About</a></li>
			<li><a href="/caseload_management" class="nav-button">Caseload</a></li>
			<li><a href="/college_list" class="nav-button">College List</a></li>
			<li><a href="/messages" class="nav-button">Messages</a></li>
			<li><a href="/notes" class="nav-button">Notes</a></li>
			<li><a href="/schedule" class="nav-button">Schedule</a></li>
			<li><a href="/tasks" class="nav-button">Tasks</a></li>
		</ul>
		{% endblock %}
	</div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>