<!DOCTYPE html>

<html>
  <head>
    {% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/general.css">
    <title>{% block title %}{% endblock %} - Global College</title>
    {% endblock %}
  </head>
  <body>
	<div class="container">
		<div id="menu">
			<div id="logo-place">
				<img id="logo" src="/static/assets/logo.png">
				Easy Access
			</div>
			<ul id="nav-buttons">
				<li class="nav-button"><a href="/" class="btn-text">Home</a></li>
				<li class="nav-button"><a href="/about" class="btn-text">About</a></li>
				<li class="nav-button"><a href="/caseload_management" class="btn-text">Caseload</a></li>
				<li class="nav-button"><a href="/college_list" class="btn-text">College List</a></li>
				<li class="nav-button"><a href="/messages" class="btn-text">Messages</a></li>
				<li class="nav-button"><a href="/notes" class="btn-text">Notes</a></li>
				<li class="nav-button"><a href="/schedule" class="btn-text">Schedule</a></li>
				<li class="nav-button"><a href="/tasks" class="btn-text">Tasks</a></li>
			</ul>
		</div>
		<div class="page-content">
			<div id="page-name">
				{% block pagename %}{% endblock %}
			</div>
			<div id="content">{% block content %}{% endblock %}</div>
		</div>
	</div>
  </body>
</html>